:root {
  font-family: "Inter", "SF Pro Display", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
  line-height: 1.6;
  font-weight: 400;
  color: #f8f9ff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  /* background: radial-gradient(circle at 20% 20%, #1b2140, #070710 60%, #040407); */
  color: #f8f9ff;
}

#app {
  min-height: 100vh;
}
